<header>
    <div class="left-section">
        <div class="icon-placeholder">
            <div class="logo-test"></div>
        </div>
        <nav class="nav">{{ title() }}</nav>
        <button routerLink="/dashboard">Dashboard</button>
        <button>All Events</button>
        <button class="critical-events-btn">Critical Events</button>                            <!--⚠️-->
    </div>
        
    <div class="right-section">
        <button class="upload-btn" (click)="openFileUpload()">Upload Files</button>             <!--⬆️-->

        <input
      type="file"
      #fileInput
      accept=".log"
      style="display: none"
      (change)="onFileSelected($event)"
      multiple
    />

        <button class="user-btn">{{ user() }}</button>
        <button class="logout-btn">Logout</button>                                              <!--🔒-->
    </div>
</header>