.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: calc(100vh - 80px);      //nicht final 
    width: 100%;                     
    gap: 1rem;
    padding-left: 32px;
    padding-right: 32px;
}
.grid-box {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
