<h2 mat-dialog-title [ngClass]="{ 'error-title': data.status === 'error' }">
      {{ data.status === 'error' ? 'Error' : 'Upload successful' }}
    </h2>

    <div mat-dialog-content>
      <ng-container *ngIf="data.status === 'error'; else successContent">
        <p><strong>Fehlermeldung:</strong> {{ data.message }}</p>
      </ng-container>

      <ng-template #successContent>
        <table>
          <tr>
            <td><strong>message:</strong></td>
            <td>{{ data.message }}</td>
          </tr>
          <tr *ngIf="data.last_updated">
            <td><strong>last updated:</strong></td>
            <td>{{ data.last_updated }}</td>
          </tr>
          <tr *ngIf="data.total_incidents">
            <td><strong>new incidents:</strong></td>
            <td>{{ data.total_incidents }}</td>
          </tr>
          
        <ng-container *ngFor="let key of getIncidentKeys(data.result.counts)">
        <tr *ngIf="data.result.counts[key] > 0">
          <td>- {{ key }}:</td>
          <td>{{ data.result.counts[key] }}</td>
        </tr>
        </ng-container>

          
        </table>
      </ng-template>
    </div>

    <div mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>OK</button>
    </div>
