/* You can add global styles to this file, and also import other style files */

*{
  font-family: 'Arial', sans-serif;
}

html,body {
  margin: 0;
  padding: 0;
}

main {
  padding: 16px;
}

@for $i from 1 through 10{
  h#{$i} {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-bottom: 1rem;
    font-size: 20px;
  }
}
