.chart-container {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
 h6 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .chart-wrapper {
    width: 100%;
    height: 100%;
  }
  
  .settings-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 5px;
    color: #333;
  }
  
  .settings-button:hover {
    color: #666;
  }
  .settings-button svg {
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
  }
  