.chart-container {
    position: relative;
    padding-top: 0;
    margin-top: 0;
  }
  
  
  h4 {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .settings-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 5px;
    color: #333;
  }
  
  .settings-button:hover {
    color: #666;
  }
  .settings-button svg {
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
  }
  